<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> HW4 </title>
        <link rel="stylesheet" href="/css/styles.css" />
    </head>
    <body>

        <h1>Welcome to the big cat Zoo directory</h1>
        
        <p><b>Learn more about our big cats that recently arrived</b> </p>
        
        
        <img src="/img/zoo.jpg" width="500" />
        
        <p><b>Click on a type below:</b></p>
            
        <% include partials/nav3 %>
        
        
            
<% include partials/footer %>