body {
    text-align: center;
}

.lionPar {
    padding: 15px 0;
    padding-left: 100px;
    padding-right: 100px;
    border: 3px solid black;
    text-align: center;
}

.tigerPar {
    padding: 15px 0;
    padding-left: 100px;
    padding-right: 100px;
    border: 3px solid black;
    text-align: center;
}

.jaguarPar {
    padding: 15px 0;
    padding-left: 100px;
    padding-right: 100px;
    border: 3px solid black;
    text-align: center;
}

table, th {

    text-align: center;
    font-size: 25px;
}

th {
    padding: 10px;
}

.intro {
    font-size: 25px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: none;
}

li a {
  display: block;
  color: yellow;
  text-align: center;
  padding: 6px;
  text-decoration: none;
}

li a:hover {
  background-color: grey;
}

h1 {
    background-color: black;
    color: yellow;
    padding-bottom: 15px;
    padding: 15px;
    font-size: 50px;

}

p {
    color: black;
    font-style: italic;
    padding: 2px;
    font-size: 23px;

}




#t1 {
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
    font-size: 20px;
}


